<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>pingoPlay.com - Ultimate Tennis Social Network</title>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">

</head>
<body>
  <div id="page">
    <div id="header-page">
      <div id="header">
        <div class ="container">
          <div id="logo">

          <h1>PingoPlay</h1>
          <hr>
          <h2>Your Tennis Social Network</h2>
          <h3>Coming 2017</h3>
          
          <h5>rogriff@gmail.com</h5>
          <p>ADMIN</p>
          <p></p>
            <%= link_to 'Home', root_path  %>
            <%= link_to 'About', about_path  %>
            <%= link_to 'Student', student_path  %>
            <%= link_to 'Admin', admin_path  %>
            <%= link_to 'Blog', blog_path  %>
<!--
          <video src="http://static.videezy.com/system/resources/previews/000/001/773/original/timelapseek.mp4" autoplay muted="true" loop id="bgvid" </video> -->

     <!--     <video src="http://static.videezy.com/system/resources/previews/000/000/122/original/SatelliteDishHdr.mp4" autoplay muted="true" loop id="bgvid" </video> -->
            
            <video src="http://static.videezy.com/system/resources/previews/000/000/620/original/DoorMist.mp4" autoplay muted="true" loop id="bgvid" </video>
            
       

          </div>


        </div>
      </div>
    </div>
  </div>
    
           
</body>
</html>